* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: rgb(167, 164, 128);
}

header {
  font-size: 2.5rem;
  font-weight: 500;
}

header,
form {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form button {
  margin: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  width: 16rem;
  font-family: "Poppins", sans-serif;
}

form button {
  color: rgb(167, 164, 128);
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: rgb(112, 110, 86);
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.todo p {
  margin-right: 0.25rem;
  font-size: 12px;
  opacity: 0.9;
}

.trash-btn,
.complete-btn {
  background: red;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: yellowgreen;
}

.todo-item {
  padding: 0 0.5rem;
}

i {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

label {
  width: 16rem;
}

label span {
  color: red;
  margin-left: 0.25rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  text-align: center;
}

.modal-content button {
  margin: 0.25rem;
}
